    
    
    
    
    body{
        background-color: whitesmoke;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    /*selector de clase es asì class="nombre-clase" 
    y le voy a cambiar laspropiedades a ese poniendo*/

    .mascota{

        width: 200px;
    } 
    /* a lo que le pusiste class=mascoa */

    .texto-centrado{
        text-align: center;
    }

    .inline{
        display: inline;
    }
    .inline-block{
        display: inline-block;
    }
    /*rewatch tipos de display display
    block agarra toda la pagina
    el inline hace que tu elemento se comporte como texto, no le vas a poder dar alto y ancho*/ 
    /*etiquetas semanticas rewatch
    INLINE BLOCK dar tamaño y centrar
    què hace el main?*/
    /*#nombre-id
    #logo

    /*selector combinado encuentra
    a todos los navegacion y luego a todos los li*/

    #navegacion li a{

        margin: 2%;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: inline;
    }

    #parrafos p{
        font-size: large;
    }
    
   .bigtext{
    font-size: 100px;
   }

   .boton {
    align-text: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }

   .center{
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   }

   header a{
    text-decoration: none;
    font-size: xx-large
    ;
    }

    #menu li a {
        font-size: 150px;
        text-decoration: none;
        margin-top: 10px;
        text-align: center;
        color: coral;
    }

    #Descripcion li {
        text-align: center;
    }